<main>
  <h1>Criar Notificação</h1>

  <section>
    <label>
      Recipient:
      <input type="text" [(ngModel)]="notification.recipient" />
    </label>
    <br>
    <label>
      Subject:
      <input type="text" [(ngModel)]="notification.subject" />
    </label>
    <br>
    <label>
      Body:
      <textarea [(ngModel)]="notification.body"></textarea>
    </label>
    <br>
    <label>
      Due Date:
      <input type="date" [(ngModel)]="notification.dueDate" />
    </label>

    <br>

    <button type="button" (click)="onClickCriar()">Criar</button>
  </section>
</main>
